In [1]:
import sqlite3
import pandas as pd

# Load the CSV into a DataFrame
df = pd.read_csv('used_car_price.csv')

#We will sqlite3 library and create a connection
conn = sqlite3.connect("sql_db.db")

# Write the DataFrame to the SQLite database as a table
df.to_sql('cars', conn, index=False, if_exists='replace')

#Load the sql module to ipython
%load_ext sql

#Load local dataset
%sql sqlite:///sql_db.db

# SQL Join
- A JOIN clause is used to combine rows from two or more tables, based on a related column between them.

**Different Types of SQL JOINs:-** <br>
Here are the different types of the JOINs in SQL: <br>

- (INNER) JOIN: Returns records that have matching values in both tables
- LEFT (OUTER) JOIN: Returns all records from the left table, and the matched records from the right table
- RIGHT (OUTER) JOIN: Returns all records from the right table, and the matched records from the left table
- FULL (OUTER) JOIN: Returns all records when there is a match in either left or right table

![SQL Join Image](media/sql_join2.png)

## SQL INNER JOIN
```
SELECT Products.ProductID, Products.ProductName, Categories.CategoryName
FROM Products
INNER JOIN Categories ON Products.CategoryID = Categories.CategoryID;
```

## JOIN or INNER JOIN
JOIN and INNER JOIN will return the same result. <br>
INNER is the default join type for JOIN, so when you write JOIN the parser actually writes INNER JOIN.

```
SELECT Products.ProductID, Products.ProductName, Categories.CategoryName
FROM Products
JOIN Categories ON Products.CategoryID = Categories.CategoryID;
```

## SQL Left Join
- The LEFT JOIN keyword returns all records from the left table (table1), and the matching records from the right table (table2). The result is 0 records from the right side, if there is no match.
```
SELECT column_name(s)
FROM table1
LEFT JOIN table2
ON table1.column_name = table2.column_name;
```

## SQL Right Join
- The RIGHT JOIN keyword returns all records from the right table (table2), and the matching records from the left table (table1). The result is 0 records from the left side, if there is no match.

```
SELECT column_name(s)
FROM table1
RIGHT JOIN table2
ON table1.column_name = table2.column_name;
```

- For Example:
```
SELECT Orders.OrderID, Employees.LastName, Employees.FirstName
FROM Orders
RIGHT JOIN Employees ON Orders.EmployeeID = Employees.EmployeeID
ORDER BY Orders.OrderID;
```

## SQL FULL JOIN 
- The FULL OUTER JOIN keyword returns all records when there is a match in left (table1) or right (table2) table records.
```
SELECT column_name(s)
FROM table1
FULL OUTER JOIN table2
ON table1.column_name = table2.column_name
WHERE condition;
```

- For Example:
```
SELECT Customers.CustomerName, Orders.OrderID
FROM Customers
FULL OUTER JOIN Orders ON Customers.CustomerID=Orders.CustomerID
ORDER BY Customers.CustomerName;
```

## SQL Self Join
- A self join is a regular join, but the table is joined with itself.

```
SELECT column_name(s)
FROM table1 T1, table1 T2
WHERE condition;
```

- For Example:

```
SELECT A.CustomerName AS CustomerName1, B.CustomerName AS CustomerName2, A.City
FROM Customers A, Customers B
WHERE A.CustomerID <> B.CustomerID
AND A.City = B.City
ORDER BY A.City;
```

# Union
The UNION operator is used to combine the result-set of two or more SELECT statements.

- Every SELECT statement within UNION must have the same number of columns
- The columns must also have similar data types
- The columns in every SELECT statement must also be in the same order

```
SELECT column_name(s) FROM table1
UNION
SELECT column_name(s) FROM table2;
```