In [1]:
import sqlite3
import pandas as pd

# Load the CSV into a DataFrame
df = pd.read_csv('used_car_price.csv')

#We will sqlite3 library and create a connection
conn = sqlite3.connect("sql_db.db")

# Write the DataFrame to the SQLite database as a table
df.to_sql('cars', conn, index=False, if_exists='replace')

#Load the sql module to ipython
%load_ext sql

#Load local dataset
%sql sqlite:///sql_db.db

# SQL Dates
MySQL comes with the following data types for storing a date or a date/time value in the database:

- DATE - format YYYY-MM-DD
- DATETIME - format: YYYY-MM-DD HH:MI:SS
- TIMESTAMP - format: YYYY-MM-DD HH:MI:SS
- YEAR - format YYYY or YY

In [2]:
%%sql

select * 
from cars 
where model_year = "2024" 
limit 3;

 * sqlite:///sql_db.db
Done.

[(5570, 'Lexus', 'NX 300h Base', 2024, 16425, 'Hybrid', '2.5L I4 16V MPFI DOHC Hybrid', 'Automatic CVT', 'Black', 'Gray', 'None reported', 'Yes', 44700),
 (6143, 'BMW', '330 i xDrive', 2024, 8700, 'Gasoline', '255.0HP 2.0L 4 Cylinder Engine Gasoline Fuel', 'A/T', 'Blue', 'White', 'None reported', 'Yes', 33000),
 (7164, 'BMW', 'M3 CS', 2024, 31850, 'Gasoline', '543.0HP 3.0L Straight 6 Cylinder Engine Gasoline Fuel', 'Transmission w/Dual Shift Mode', 'Black', 'Black', 'None reported', 'Yes', 22550)]

# SQL Views
In SQL, a view is a virtual table based on the result-set of an SQL statement.

A view contains rows and columns, just like a real table. The fields in a view are fields from one or more real tables in the database.

- Create View Syntax:
```
CREATE VIEW view_name AS
SELECT column1, column2, ...
FROM table_name
WHERE condition;
```

In [3]:
%%sql
-- Ferarri cars

create view [ferarri_cars] as
select * 
from cars 
where brand = 'Ferrari';

 * sqlite:///sql_db.db
(sqlite3.OperationalError) view [ferarri_cars] already exists
[SQL: -- Ferarri cars

create view [ferarri_cars] as
select *
from cars
where brand = 'Ferrari';]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

In [4]:
%%sql
--view all ferrari cars

select * 
from [ferarri_cars]
limit 3;

 * sqlite:///sql_db.db
Done.

[(251, 'Ferrari', '911 GT2 RS', 2022, 19250, 'Gasoline', '710.0HP 4.0L 8 Cylinder Engine Gasoline Fuel', '8-Speed A/T', 'Orange', 'Red', 'None reported', 'Yes', 124900),
 (433, 'Ferrari', 'F12berlinetta Base', 2017, 25520, 'Gasoline', '6.3L V12 48V GDI DOHC', '7-Speed Automatic with Auto-Shift', 'Gray', 'BLACK', 'None reported', None, 449995),
 (1554, 'Ferrari', 'F12berlinetta Base', 2018, 28220, 'Gasoline', '759.0HP 6.5L 12 Cylinder Engine Gasoline Fuel', '8-Speed A/T', 'Gray', 'White', 'None reported', 'Yes', 37400)]

In [5]:
%%sql

create view [gasoline_cars] as
select * 
from cars
where fuel_type = "Gasoline";

 * sqlite:///sql_db.db
(sqlite3.OperationalError) view [gasoline_cars] already exists
[SQL: create view [gasoline_cars] as
select *
from cars
where fuel_type = "Gasoline";]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

## SQL Dropping View

In [6]:
%%sql
drop view gasoline_cars;

 * sqlite:///sql_db.db
Done.

[]