In [1]:
import sqlite3
import pandas as pd

# Load the CSV into a DataFrame
df = pd.read_csv('used_car_price.csv')

#We will sqlite3 library and create a connection
conn = sqlite3.connect("sql_db.db")

# Write the DataFrame to the SQLite database as a table
df.to_sql('cars', conn, index=False, if_exists='replace')

#Load the sql module to ipython
%load_ext sql

#Load local dataset
%sql sqlite:///sql_db.db

# SQL Case Expression
- The CASE expression goes through conditions and returns a value when the first condition is met (like an if-then-else statement). So, once a condition is true, it will stop reading and return the result. If no conditions are true, it returns the value in the ELSE clause.

- Case Syntax:
```
CASE
    WHEN condition1 THEN result1
    WHEN condition2 THEN result2
    WHEN conditionN THEN resultN
    ELSE result
END;
```

In [2]:
%%sql

SELECT brand, model,
CASE 
    WHEN model_year > 2020 THEN 'This car is new'
    WHEN model_year BETWEEN 2000 AND 2019 THEN 'This car is old'
    ELSE 'This car is very old'
END AS PriceInfo
FROM cars
LIMIT 6;

 * sqlite:///sql_db.db
Done.

[('MINI', 'Cooper S Base', 'This car is old'),
 ('Lincoln', 'LS V8', 'This car is old'),
 ('Chevrolet', 'Silverado 2500 LT', 'This car is old'),
 ('Genesis', 'G90 5.0 Ultimate', 'This car is old'),
 ('Mercedes-Benz', 'Metris Base', 'This car is new'),
 ('Audi', 'A6 2.0T Sport', 'This car is old')]

In [3]:
%%sql
-- use case command in sql

select brand, model, model_year, fuel_type, price 
from cars
order by
(case
    when fuel_type is null then model_year
    when fuel_type is "â€“" then model_year
    when fuel_type is "not supported" then model_year
    when fuel_type is "None" then model_year
    else fuel_type
end) desc
limit 5;

 * sqlite:///sql_db.db
Done.

[('BMW', 'X5 PHEV xDrive45e', 2023, 'Plug-In Hybrid', 95000),
 ('BMW', 'X5 PHEV xDrive45e', 2023, 'Plug-In Hybrid', 73897),
 ('Mercedes-Benz', 'CLS-Class CLS 63 AMG S-Model 4MATIC', 2015, 'Plug-In Hybrid', 19900),
 ('Porsche', 'Cayenne E-Hybrid S Platinum Edition', 2010, 'Plug-In Hybrid', 42433),
 ('Porsche', 'Cayenne E-Hybrid S Platinum Edition', 2015, 'Plug-In Hybrid', 31500)]

# SQL NULL Functions

In [4]:
%%sql

select avg(model_year) 
from cars;

 * sqlite:///sql_db.db
Done.

[(2015.8299979313965,)]

In [5]:
%%sql

SELECT brand, model, model_year, fuel_type, price, 
(2024 - model_year) AS age
FROM cars
LIMIT 5;

 * sqlite:///sql_db.db
Done.

[('MINI', 'Cooper S Base', 2007, 'Gasoline', 4200, 17),
 ('Lincoln', 'LS V8', 2002, 'Gasoline', 4999, 22),
 ('Chevrolet', 'Silverado 2500 LT', 2002, 'E85 Flex Fuel', 13900, 22),
 ('Genesis', 'G90 5.0 Ultimate', 2017, 'Gasoline', 45000, 7),
 ('Mercedes-Benz', 'Metris Base', 2021, 'Gasoline', 97500, 3)]

# SQL Comments
- Single Line Comment: "--abcd"
- Multiple Line Comment: /* abcd */